@model SAP.Web.Areas.Admin.Models.ManageTaskViewModel
@{
    ViewBag.Title = "Edycja zadania " + Model.Title;
}

<h2>Edycja zadania - @Model.Title</h2>
<hr />

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Wybierz jedną z poniższych opcji</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        Zmiana ustawień konta
                    </div>
                    <div class="col-md-8">
                        <a href='@Url.Action("ChangeData", "ManageUser")' class="btn btn-info">Przejdź &raquo;</a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        Zmiana hasła
                    </div>
                    <div class="col-md-8">
                        <a href='@Url.Action("ChangePassword", "ManageUser")' class="btn btn-info">Przejdź &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href='@Url.Action("Index", "Home")' class="list-group-item">
                <h4 class="list-group-item-heading">Główna</h4>
            </a>
            <a href="#" data-toggle="modal" data-target="#myModal" class="list-group-item">
                <h4 class="list-group-item-heading">Ustawienia</h4>
            </a>
            <a href='@Url.Action("ManageAccounts", "ManageUser")' class="list-group-item">
                <h4 class="list-group-item-heading">Zarządzanie kontami</h4>
            </a>
            <a href='@Url.Action("Index", "ManageTournaments")' class="list-group-item active">
                <h4 class="list-group-item-heading">Zarządzanie turniejami</h4>
            </a>
            <a href='@Url.Action("Index", "ManageCompilers")' class="list-group-item">
                <h4 class="list-group-item-heading">Zarządzanie kompilatorami</h4>
            </a>
            <a href='@Url.Action("Index", "Contact")' class="list-group-item">
                <h4 class="list-group-item-heading">Wiadomości</h4>
            </a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Edycja zadania - @Model.Title</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("EditTask", "ManageTask", FormMethod.Post, new { @role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    @Html.HiddenFor(x => x.TaskId)

                    <div class="form-group">
                        @Html.LabelFor(x => x.Title, new { @class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control" }})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Description, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control" }})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.StartDate, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(x => x.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.StartTime, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(x => x.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.EndDate, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(x => x.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.EndTime, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(x => x.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Input, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(x => x.Input, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Output, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(x => x.Output, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Example, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(x => x.Example, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.MaxExecutedMemory, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(x => x.MaxExecutedMemory, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.MaxExecutedTime, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(x => x.MaxExecutedTime, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.PDF, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="file" name="ManageTaskViewModel.PDF" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.InputData, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(x => x.InputDataId, Model.InputData, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-8 col-md-4">
                            <a href='@Url.Action("Index", "ManageTask")' class="btn btn-default">Cofnij</a>
                            <input type="submit" class="btn btn-success" value="Zapisz" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<ul class="breadcrumb">
    <li><a href='@Url.Action("Index", "Home", new { area = "" })'>Główna</a></li>
    <li><a href='@Url.Action("Index", "Home")'>Administrator</a></li>
    <li><a href='@Url.Action("Index", "ManageTournaments")'>Zarządzanie turniejami</a></li>
    <li><a href='@Url.Action("Index", "ManageTask")'>Lista zadań</a></li>
    <li class="active">Edycja zadania - @Model.Title</li>
</ul>