@model List<SAP.Web.Areas.Admin.Models.TestDataViewModel>

<h4>Wypełnij dane testowe do zadania.</h4>

@for (int i = 0; i < Model.Count(); i++)
{
    <h6>Dane testowe nr: @i</h6>
    <hr />
    @Html.Hidden("viewModel[" + i + "].TaskId", Model[i].TaskId)
    <div class="form-group">
        @Html.LabelFor(x => Model[i].InputData, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(x => Model[i].InputData, "", "viewModel[" + i + "].InputData", new { @class = "control-label col-md-3" })
            @Html.ValidationMessageFor(x => Model[i].InputData, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => Model[i].OutputData, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(x => Model[i].OutputData, "", "viewModel[" + i + "].OutputData", new { @class = "control-label col-md-3" })
            @Html.ValidationMessageFor(x => Model[i].OutputData, "", new { @class = "text-danger" })
        </div>
    </div>
}

<div class="form-group">
    <div class="col-md-offset-10 col-md-2">
        <input type="submit" class="btn btn-success" value="Zapisz" />
    </div>
</div>