@model SAP.Web.Models.ProgramViewModel
@{
    ViewBag.Title = "Output";
}

<h2>Wynik uruchomienia programu.</h2>
<hr />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Wynik działania programu: @Model.File </h3>
    </div>
    <div class="panel-body">
        <p> @Model.OutputData </p>
    </div>
</div>

<br />

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Szczegóły działania aplikacji</h3>
    </div>
    <div class="panel-body">

        <p>Czas trwania: @Model.ExecutedTime ms</p>
        <p>Zużyta pamięć: @Model.MemoryUsed mb</p>
        <p>Czy błąd: @Model.HasErrors.ToString()</p>
        <p>Komunikat błędu: @Model.ErrorData </p>
    </div>
</div>