@using SAP.BOL.LogicClasses
@model List<SAP.Web.Areas.Admin.Models.TodaySystemTaskViewModel>
@{
    ViewBag.Title = "Dzienne zadania systemowe";
    DateTime lastSync = ViewBag.LastSynchro;
}

<h2>Dzienne zadania systemowe.</h2>
<hr />

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Wybierz jedną z poniższych opcji</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        Zmiana ustawień konta
                    </div>
                    <div class="col-md-8">
                        <a href='@Url.Action("ChangeData", "ManageUser")' class="btn btn-info">Przejdź &raquo;</a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        Zmiana hasła
                    </div>
                    <div class="col-md-8">
                        <a href='@Url.Action("ChangePassword", "ManageUser")' class="btn btn-info">Przejdź &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href='@Url.Action("Index", "Home")' class="list-group-item">
                <h4 class="list-group-item-heading">Główna</h4>
            </a>
            <a href="#" data-toggle="modal" data-target="#myModal" class="list-group-item">
                <h4 class="list-group-item-heading">Ustawienia</h4>
            </a>
            <a href='@Url.Action("ManageAccounts", "ManageUser")' class="list-group-item">
                <h4 class="list-group-item-heading">Zarządzanie kontami</h4>
            </a>
            <a href='@Url.Action("Index", "ManageTournaments")' class="list-group-item active">
                <h4 class="list-group-item-heading">Zarządzanie turniejami</h4>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Zarządzanie kompilatorami</h4>
            </a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Zaplanowanie działania</h3>
            </div>
            <div class="panel-body">
                <ul>
                    @foreach (var item in Model)
                    {
                        string isRealized = item.IsRealized == true ? "Zrealizowane" : "Niezrealizowane";
                        switch (item.TaskType)
                        {
                            case TaskType.ScoreCount:
                                <li>@item.TypeOfTask, Turniej: @item.TournamentId, Faza: @item.PhaseId Godzina: @item.ExecuteTime.ToString("HH:mm:ss, dd.MM.yyyy") - @isRealized</li>
                                break;
                            case TaskType.SetPromotions:
                                <li>@item.TypeOfTask, Turniej: @item.TournamentId, Faza: @item.PhaseId Godzina: @item.ExecuteTime.ToString("HH:mm:ss, dd.MM.yyyy") - @isRealized</li>
                                break;
                            default:
                                <li>@item.TypeOfTask, ID: @item.TaskId, Godzina: @item.ExecuteTime.ToString("HH:mm:ss, dd.MM.yyyy") - @isRealized</li>
                                break;
                        }
                    }
                    @if (Model.Count == 0)
                    {
                        <li>Brak zaplanowanych na dzisiaj działań.</li>
                    }
                </ul>
                <p>Liczba zadań: @Model.Count</p>
                <p>Ostatnia synchronizacja: @lastSync.ToString("HH:mm:ss dd.MM.yyyy")</p>
                @using (Html.BeginForm("Synchronize", "ManageTournaments", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                {
                    <div class="form-group">
                        <div class="col-md-offset-8 col-md-4">
                            <a href='' onclick="location.reload()" class="btn btn-info">Odśwież</a>
                            <button type="submit" class="btn btn-success">Synchronizuj <span class="glyphicon glyphicon-retweet"></span></button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<ul class="breadcrumb">
    <li><a href='@Url.Action("Index", "Home", new { area = "" })'>Główna</a></li>
    <li><a href='@Url.Action("Index", "Home")'>Administrator</a></li>
    <li><a href='@Url.Action("Index", "ManageTournaments")'>Zarządzanie turniejami</a></li>
    <li class="active">Zadania systemowe</li>
</ul>