@model SAP.Web.Areas.User.Models.UserDataModels
@{
    ViewBag.Title = User.Identity.Name;
}

<h2>Twoje konto.</h2>
<h4>Strona Główna.</h4>
<hr />

<div class="row">

    <div class="col-md-3">
        <div class="list-group">
            <a href='@Url.Action("Index", "Home")' class="list-group-item active">
                <h4 class="list-group-item-heading">Główna</h4>
                <p class="list-group-item-text">Strona główna Twojego konta.</p>
            </a>
            <a href='@Url.Action("Index", "Manage")' class="list-group-item">
                <h4 class="list-group-item-heading">Zarządzanie</h4>
                <p class="list-group-item-text">Tu zmienisz ustawienia swojego konta.</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Twoje turnieje</h4>
                <p class="list-group-item-text">Dostęp do informacji o Twoim udziale w turniejach.</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Powiadomienia <span class="badge">69</span></h4>
                <p class="list-group-item-text">Twoje powiadomienia nt. truniejów, zadań oraz zasad funkcjonowania.</p>
            </a>
        </div>
    </div>

    <div class="col-md-9 form-horizontal">

        <h4>Informacje o użytkowniku.</h4>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    @Html.Label("Imię:", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.UserFirstName, new { @disabled = "true", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Nazwisko:", new { @class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.UserLastName, new { @disabled = "true", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Email:", new { @class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.UserEmail, new { @disabled = "true", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <address>
                    @Model.UserPostalCode, @Model.UserCity <br />
                    ul. @Model.UserStreet @Model.UserHouseNumber <br />
                    <abbr title="Telefon kontaktowy">Tel:</abbr>
                    @Model.UserPhone
                </address>
            </div>
        </div>

        <h4>Szkoła.</h4>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    @Html.Label("Nazwa:", new { @class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.SchoolName, new { @disabled = "true", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Klasa:", new { @class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.SchoolClass, new { @disabled = "true", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <address>
                    @Model.SchoolPostalCode, @Model.SchoolCity <br />
                    ul. @Model.SchoolStreet @Model.SchoolHouseNumber <br />
                    <abbr title="Telefon kontaktowy">Tel:</abbr>
                    @Model.SchoolPhone
                </address>
            </div>
        </div>

        <h4>Opiekun.</h4>
        <hr />
        <div class="col-md-9">
            <div class="form-group">
                @Html.Label("Imię:", new { @class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.CounselorFirstName, new { @disabled = "true", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Nazwisko:", new { @class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.CounselorLastName, new { @disabled = "true", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<ul class="breadcrumb">
    <li><a href='@Url.Action("Index", "Home", new { area = ""})'>Główna</a></li>
    <li class="active">Użytkownik</li>
</ul>